body{
  background: white;
  /* got code snippet from cssgradient.io/swatches */
  margin: 0;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
  text-decoration: none;
}

a { color: #ffcccc; 
text-decoration: none;

}

.topnav{
  overflow: hidden;
  background:white;
}

.topnav a:hover , .dropdown:hover .dropbtn{
  background-color: #ffcccc;
}

.bg
{
width: 100%;
position: relative;
}

.topnav a {
float: left;
font-size: 30px;
font-weight: bold;
color: #ffcccc;
text-align: center;
text-decoration: none;
padding: 14px 16px;

}

.hero{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-image: url(hover.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1{

  font-size: 5vw;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: black;

}

p{
  color:black;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #ffbbcc;
  border-width: 5px;
  width: 10%;
  
 
}

h3{
  font-family: Parkavenue, cursive;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {background-color: #ffcccc;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color:black;
}

ol {
  list-style-position: inside;
}

ol li {
  background: #ffe5e5;
  padding: 10px;
  margin-left: 10px;
}

/*used to style navigation bar*/
/* Style the links inside the navigation bar */

@media screen and (max-width: 1000px) {
  .topnav a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

input[type=text]{
  width: 20%;
  padding: 2px 10px;
  box-sizing: border-box;
  border: 2px solid #ffcccc;;
  border-radius: 8px;
  
}

input[type=email]{
  width: 30%;
  padding: 2px 10px;
  box-sizing: border-box;
  border: 2px solid #ffcccc;;
  border-radius: 8px;
}

select{
  width: 10%;
  padding: 2px 10px;
  box-sizing: border-box;
  border: 2px solid #ffcccc;
  border-radius: 8px;
  
}

textarea{
  padding: 2px 10px;
  box-sizing: border-box;
  border: 2px solid #ffcccc;;
  border-radius: 8px;
  resize: none;
}

input[type=submit]{
  width: 10%;
  padding: 2px 10px;
  box-sizing: border-box;
  border: 2px solid #ffcccc;;
  border-radius: 8px;
}

.dropdown{
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size:16px;
  border: none;
  outline:none;
  color: #ffcccc;
  padding: 14px 16px;
  background-color:inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover{
  background-color: #ffcccc;
}

.dropdown:hover .dropdown-content{
  display: block;
}

body{
  background: white;
  /* got code snippet from cssgradient.io/swatches */
  margin: 0;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
  text-decoration: none;
}

a { color: #ffcccc; 
text-decoration: none;

}

.topnav{
  overflow: hidden;
  background:white;
}

.topnav a:hover , .dropdown:hover .dropbtn{
  background-color: #ffcccc;
}

.bg
{
width: 100%;
position: relative;
}

.topnav a {
float: left;
font-size: 30px;
font-weight: bold;
color: #ffcccc;
text-align: center;
text-decoration: none;
padding: 14px 16px;

}

.hero{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-image: url(hover.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1{

  font-size: 5vw;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: black;

}

p{
  color:black;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #ffbbcc;
  border-width: 5px;
  width: 10%;
  
 
}

h3{
  font-family: Parkavenue, cursive;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {background-color: #ffcccc;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color:black;
}

ol {
  list-style-position: inside;
}

ol li {
  background: #ffe5e5;
  padding: 10px;
  margin-left: 10px;
}

/*used to style navigation bar*/
/* Style the links inside the navigation bar */

@media screen and (max-width: 1000px) {
  .topnav a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

input[type=text]{
  width: 20%;
  padding: 2px 10px;
  box-sizing: border-box;
  border: 2px solid #ffcccc;;
  border-radius: 8px;
  
}

input[type=email]{
  width: 30%;
  padding: 2px 10px;
  box-sizing: border-box;
  border: 2px solid #ffcccc;;
  border-radius: 8px;
}

select{
  width: 10%;
  padding: 2px 10px;
  box-sizing: border-box;
  border: 2px solid #ffcccc;
  border-radius: 8px;
  
}

textarea{
  padding: 2px 10px;
  box-sizing: border-box;
  border: 2px solid #ffcccc;;
  border-radius: 8px;
  resize: none;
}

input[type=submit]{
  width: 10%;
  padding: 2px 10px;
  box-sizing: border-box;
  border: 2px solid #ffcccc;;
  border-radius: 8px;
}

.dropdown{
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size:16px;
  border: none;
  outline:none;
  color: #ffcccc;
  padding: 14px 16px;
  background-color:inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover{
  background-color: #ffcccc;
}

.dropdown:hover .dropdown-content{
  display: block;
}

input:invalid {
    background-color: 2px solid red;
}

  









